/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

@media (max-width: 500px) {
.catalog_block .catalog_item {
    margin-bottom: 30px;
	} }

@media (max-width: 400px) {
#mobileheader .logo, #mobileheader .logo svg {
    max-width: 36%;
	} }


.bottom-icons-panel__content-link {
    min-width: 20%;
}

.sale-order-list-button:focus{
    color: #fff;
}

@media (max-width: 767px) {
#mobileheader .mobileheader-v4 .logo-block .logo {
    margin: 0 auto;
    width: 29%;
}}